@import url("https://fonts.googleapis.com/css2?family=Handjet:wght@700&display=swap");
.fuente {
  font-family: "Handjet", cursive;
}

header {
  display: flex;
  background-color: black;
  border-bottom: 5px solid #B5911D;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 2;
}
header .logoNav {
  width: 350px;
  height: auto;
  cursor: pointer;
}
header .navbar {
  background-color: black;
}
header nav {
  height: 100%;
  width: 100%;
}
header nav div div ul li .menu {
  color: #B5911D;
  text-decoration: none;
  font-size: 30px;
  text-transform: uppercase;
  display: inline-block;
  padding: 0px 20px;
}
header nav div button .btnNavbar {
  border: #B5911D 1px solid;
  border-radius: 5px;
}

footer {
  background-color: black;
  border-top: 5px solid #B5911D;
  margin-bottom: 0;
}
footer div .pieDePagina {
  color: #B5911D;
}
footer div a .logoFooter {
  width: 70px;
  cursor: pointer;
  padding-left: 0px;
}
footer ul li .iconoRedesSociales {
  width: auto;
  height: 50px;
}

main {
  background-color: #FEF8F6;
  padding-bottom: 50px;
  z-index: 1;
}
main .carrusel {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: #B5911D 5px solid;
  border-top: none;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
main .carrusel .imgCarrusel {
  width: 100%;
}
main h1 {
  margin: 0%;
  padding-top: 40px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 50px;
  border-top: 3px #B5911D ridge;
}
main .subtitulos {
  font-size: 80px;
}
main .descripcion {
  text-indent: 15px;
  margin: 10px;
  padding: 10px 40px;
  font-size: 22px;
}
main .promocion {
  display: flex;
  justify-content: center;
}
main .promocion .promocionImg {
  width: 900px;
  padding-bottom: 10px;
}
main .calendario {
  display: flex;
  padding-top: 40px;
  padding-bottom: 40px;
  justify-content: space-evenly;
}
main .calendario .mes {
  list-style: none;
  font-size: 30px;
  border: #B5911D 5px solid;
  border-radius: 20%;
  color: rgb(206, 201, 201);
  background-color: black;
  padding: 20px;
}

section {
  background-color: #FEF8F6;
  padding-bottom: 1px;
  z-index: 1;
}
section h2 {
  margin: 0%;
  padding-top: 40px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 50px;
  border-top: 3px #B5911D ridge;
}
section .subtitulos {
  font-size: 80px;
}
section .descripcion {
  text-indent: 15px;
  margin: 10px;
  padding: 10px 40px;
  font-size: 22px;
}
section .noticia {
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
}
section .noticia .img {
  display: flex;
  width: 25%;
  margin-left: 10px;
}
section .noticia .noticiaRecuadro {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section .noticia .noticiaRecuadro .noticiaTitulo {
  padding-left: 80px;
  font-size: 30px;
}
section .noticia .noticiaRecuadro .noticiaCuerpo {
  text-indent: 15px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 18px;
}
section .video {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 200px;
  margin-top: 50px;
}
section .video .videoUno {
  width: 570px;
  height: 325px;
  border: #B5911D 5px solid;
}
section .video .videoDos {
  width: 570px;
  height: 325px;
  border: #B5911D 5px solid;
}
section .patrocinadores {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 50px;
  padding-top: 50px;
}
section .ropa {
  margin-bottom: 50px;
}
section .seccionTienda {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;
}
section .seccionTienda .carta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 420px;
  border: #B5911D 2px solid;
  border-radius: 30px;
  padding-bottom: 10px;
  padding-top: 10px;
}
section .seccionTienda .carta .cartaInfo {
  justify-content: center;
  text-align: center;
}
section .seccionTienda .carta .cartaInfo .cartaTitulo {
  display: block;
  width: 100%;
  font-size: 35px;
  margin: 0;
}
section .seccionTienda .carta .cartaInfo .cartaPrecio {
  display: block;
  font-size: 30px;
  margin: 0;
}
section .seccionTienda .carta .cartaInfo div .btnCompra {
  background-color: #B5911D;
  color: #FEF8F6;
  border: none;
  width: 150px;
  height: auto;
  font-size: 25px;
}
section .seccionTienda .carta .cartaInfo div .btnCompra:hover {
  background-color: #d4b44a;
}
section .seccionTienda .carta .imgRopa {
  height: auto;
  width: 80%;
}
section .seccionTienda .carta .imgAccesorios {
  height: 230px;
  width: auto;
}
section .logoJuegos {
  text-align: center;
  border-top: #B5911D solid 5px;
}
section .logoJuegos .logoValorant {
  height: 200px;
  margin-top: 50px;
}
section .logoJuegos .logoBrawl {
  height: 300px;
  margin-top: 50px;
}
section .jugadores {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  padding-left: 100px;
}
section .jugadores .descripcionDelJugador {
  display: flex;
  width: 50%;
  margin-bottom: 10px;
}
section .jugadores .descripcionDelJugador .infoDelJugador {
  padding-left: 10px;
}
section .encuadro {
  margin: 100px;
  border: #B5911D solid 5px;
  border-radius: 10px;
}
section .encuadro .partido {
  text-align: center;
  font-size: 25px;
  text-decoration: underline;
  text-decoration-color: #B5911D;
}
section .encuadro .versus {
  display: flex;
  justify-content: center;
}
section .encuadro .versus .equiposEnfrentados {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 20px;
}
section .encuadro .versus .equiposEnfrentados .nombresEquiposEnfrentados {
  font-size: 30px;
}
section .encuadro .versus .enfrentamiento {
  display: flex;
  justify-content: space-evenly;
  width: 30%;
  font-size: 25px;
  align-items: center;
}
section .encuadro .enfrentamientoInfo {
  display: flex;
  justify-content: space-evenly;
  font-size: 30px;
}
section .formulario {
  margin-left: 25%;
  margin-right: 25%;
}
section .formulario .consigna {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 20px;
}
section .formulario .campo {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  border: #B5911D solid 2px;
  border-radius: 5px;
  font-size: 20px;
}
section .formulario .botonesFormulario .btnFormulario {
  background-color: black;
  border: #B5911D solid 2px;
  color: rgb(206, 201, 201);
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  margin: 10px;
  margin-left: 250px;
}
section .viasDeContacto {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  text-decoration: underline;
  text-decoration-color: #B5911D;
  font-size: 30px;
}
section .viasContacto {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  margin-bottom: 30px;
}

.btnCompra:hover {
  background-color: #d4b44a;
}

.descripcion {
  text-indent: 15px;
  margin: 10px;
  padding: 10px 40px;
  font-size: 22px;
}

@media screen and (max-width: 768px) {
  header {
    z-index: 2;
  }
  header nav div a .logoNav {
    width: 150px;
  }
  header nav div div ul li .menu {
    font-size: 25px;
  }
  footer div a .logoFooter {
    width: 40px;
    height: auto;
  }
  footer div a .pieDePagina {
    font-size: 10px;
  }
  footer ul li .iconoRedesSociales {
    width: 20px;
    height: auto;
  }
  main {
    z-index: 1;
  }
  main .carrusel {
    display: flex;
  }
  main .carrusel .dos {
    display: none;
  }
  main .subtitulos {
    font-size: 40px;
  }
  main .descripcion {
    font-size: 15px;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
  }
  main .promocion .promocionImg {
    width: 100%;
    height: auto;
  }
  main .calendario {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    height: auto;
    grid-gap: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 0;
    justify-items: center;
    margin: 0;
  }
  main .calendario .mes {
    width: 100%;
    height: 40px;
    padding: 0;
    font-size: 20px;
    text-align: center;
  }
  section .subtitulos {
    font-size: 40px;
  }
  section .descripcion {
    font-size: 15px;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
  }
  section .noticia {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  section .noticia .img {
    display: block;
    width: 80%;
    height: auto;
    margin: 10px;
  }
  section .noticia .noticiaRecuadro .noticiaTitulo {
    padding: 0;
    padding-top: 20px;
  }
  section .noticia .noticiaRecuadro .noticiaCuerpo {
    font-size: 15px;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
  }
  section .video {
    margin-bottom: 70px;
  }
  section .video .videoUno {
    display: flex;
    justify-content: center;
    width: 300px;
    height: auto;
    border: none;
  }
  section .video .videoDos {
    display: none;
  }
  section .patrocinadores {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    justify-items: center;
  }
  section .patrocinadores .patrocinadoresImg {
    width: 80%;
    height: auto;
  }
  section .seccionTienda {
    display: block;
    height: 80%;
    height: auto;
    margin-bottom: 0;
    margin-left: 6%;
    margin-right: 6%;
  }
  section .seccionTienda .carta {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  section .seccionTienda .carta .cartaInfo .cartaTitulo {
    font-size: 30px;
  }
  section .seccionTienda .carta .cartaInfo .cartaPrecio {
    font-size: 25px;
  }
  section .logoJuegos {
    width: 100%;
    height: auto;
    padding-left: 10%;
    padding-right: 10%;
  }
  section .logoJuegos .logoValorant {
    width: 100%;
    height: auto;
  }
  section .logoJuegos .logoBrawl {
    width: 100%;
    height: auto;
  }
  section .jugadores {
    display: block;
    padding-left: 10px;
  }
  section .jugadores .descripcionDelJugador {
    margin-bottom: 20px;
    width: 100%;
  }
  section .jugadores .descripcionDelJugador .fotoJugador {
    width: 50%;
    height: auto;
  }
  section .jugadores .descripcionDelJugador .infoDelJugador .listado {
    padding: 0;
  }
  section .encuadro {
    margin: 5%;
  }
  section .encuadro .versus .equiposEnfrentados {
    width: 100%;
    height: auto;
  }
  section .encuadro .versus .equiposEnfrentados .nombresEquiposEnfrentados {
    font-size: 25px;
  }
  section .encuadro .enfrentamientoInfo {
    flex-direction: column;
    text-align: center;
    font-size: 20px;
  }
  section .formulario {
    margin: 0;
    width: 100%;
  }
  section .formulario .consigna {
    margin-left: 10%;
    margin-right: 10%;
  }
  section .formulario .campo {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
  section .formulario .botonesFormulario {
    display: flex;
    justify-content: space-evenly;
  }
  section .formulario .botonesFormulario .btnFormulario {
    margin: 0;
  }
  section .viasContacto {
    margin-top: 15px;
    margin-bottom: 20px;
  }
  .tres {
    display: none;
  }
}
@media (min-width: 769px) and (max-width: 1140px) {
  header {
    z-index: 2;
  }
  header nav div a .logoNav {
    width: 200px;
  }
  footer div a .logoFooter {
    width: 60px;
    height: auto;
  }
  footer div .pieDePagina {
    font-size: 10px;
  }
  footer ul li .iconoRedesSociales {
    width: 40px;
    height: auto;
  }
  main {
    z-index: 1;
  }
  main .carrusel {
    display: flex;
    width: 100%;
    height: auto;
  }
  main .carrusel .tres {
    display: none;
  }
  main .carrusel .imgCarrusel {
    width: 50%;
    height: auto;
  }
  section .noticia .img {
    width: 25%;
    height: auto;
  }
  section .video .videoDos {
    display: none;
  }
  section .seccionTienda {
    justify-content: space-evenly;
  }
  section .seccionTienda .carta {
    width: 300px;
  }
  section .logoJuegos {
    width: 100%;
    height: auto;
    padding-left: 10%;
    padding-right: 10%;
  }
  section .logoJuegos .logoValorant {
    width: 100%;
    height: auto;
  }
  section .logoJuegos .logoBrawl {
    width: 70%;
    height: auto;
  }
  section .jugadores {
    padding-left: 5%;
  }
  section .encuadro .enfrentamientoInfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
  }
  section .formulario .botonesFormulario {
    display: flex;
    justify-content: space-evenly;
  }
  section .formulario .botonesFormulario .btnFormulario {
    margin: 0;
  }
}
.menu {
  transition: all 0.3s;
}

.menu:hover {
  border: #B5911D 5px solid;
  font-size: 38px;
  transition: all 0.3s;
}

/*# sourceMappingURL=estilos.css.map */
