main {
	background-color: $background-color_1;
	padding-bottom: 50px;
	z-index: 1;

	/////// Inicio 
	//Carrusel
	.carrusel {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		border: #B5911D 5px solid;
		border-top: none;
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;

		.imgCarrusel {
			width: 100%;
		}
	}

	//Quienes somos
	h1 {
		margin: 0%;
		padding-top: 40px;
		margin-bottom: 10px;
		text-align: center;
		font-size: 50px;
		border-top: 3px #B5911D ridge;
	}

	.subtitulos {
		font-size: 80px;
	}

	.descripcion {
		text-indent: 15px;
		margin: 10px;
		padding: 10px 40px;
		font-size: 22px;
	}

	//////Tienda
	//Promocion
	.promocion {
		display: flex;
		justify-content: center;

		.promocionImg {
			width: 900px;
			padding-bottom: 10px;
		}
	}

	//////Eventos
	// calendario
	.calendario {
		display: flex;
		padding-top: 40px;
		padding-bottom: 40px;
		justify-content: space-evenly;

		.mes {
			list-style: none;
			font-size: 30px;
			border: #B5911D 5px solid;
			border-radius: 20%;
			color: $color_2;
			background-color: $background-color_4;
			padding: 20px;
		}
	}
}
	
section {
	background-color: $background-color_1;
	padding-bottom: 1px;
	z-index: 1;

	h2 {
		margin: 0%;
		padding-top: 40px;
		margin-bottom: 10px;
		text-align: center;
		font-size: 50px;
		border-top: 3px #B5911D ridge;
	}

	.subtitulos {
		font-size: 80px;
	}

	.descripcion {
		text-indent: 15px;
		margin: 10px;
		padding: 10px 40px;
		font-size: 22px;
	}
	
	//Noticias
	.noticia {
		display: flex;
		margin-top: 30px;
		margin-bottom: 30px;

		.img {
			display: flex;
			width: 25%;
			margin-left: 10px;
		}

		.noticiaRecuadro {
			display: flex;
			flex-direction: column;
			justify-content: center;

			.noticiaTitulo {
				padding-left: 80px;
				font-size: 30px;
			}

			.noticiaCuerpo {
				text-indent: 15px;
				padding-left: 40px;
				padding-right: 40px;
				font-size: 18px;
			}
		}
	}

	//Creadores de contenido
	.video {
		display: flex;
		justify-content: space-evenly;
		margin-bottom: 200px;
		margin-top: 50px;

		.videoUno {
			width: 570px;
			height: 325px;
			border: #B5911D 5px solid;
		}

		.videoDos {
			width: 570px;
			height: 325px;
			border: #B5911D 5px solid;
		}
	}

	//Patrocinadores
	.patrocinadores {
		display: flex;
		justify-content: space-evenly;
		padding-bottom: 50px;
		padding-top: 50px;
	}

	//////Tienda
	//Ropa y accesorios
	.ropa {
		margin-bottom: 50px;
	}

	.seccionTienda {
		display: flex;
		justify-content: space-evenly;
		margin-bottom: 50px;

		.carta {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			height: auto;
			width: 420px;
			border: #B5911D 2px solid;
			border-radius: 30px;
			padding-bottom: 10px;
			padding-top: 10px;

			.cartaInfo {
				justify-content: center;
				text-align: center;

				.cartaTitulo {
					display: block;
					width: 100%;
					font-size: 35px;
					margin: 0;
				}

				.cartaPrecio {
					display: block;
					font-size: 30px;
					margin: 0;
				}

				div {
					.btnCompra {
						background-color: $background-color_2;
						color: $color_1;
						border: none;
						width: 150px;
						height: auto;
						font-size: 25px;

						&:hover {
							background-color: #d4b44a;
						}
					}
				}
			}

			.imgRopa {
				height: auto;
				width: 80%;
			}

			.imgAccesorios {
				height: 230px;
				width: auto;
			}
		}
	}

	///// Equipos
	// Nuestros equipos
	.logoJuegos {
		text-align: center;
		border-top: #B5911D solid 5px;

		.logoValorant {
			height: 200px;
			margin-top: 50px;
		}

		.logoBrawl {
			height: 300px;
			margin-top: 50px;
		}
	}

	.jugadores {
		display: flex;
		flex-wrap: wrap;
		margin: 0px;
		padding-left: 100px;

		.descripcionDelJugador {
			display: flex;
			width: 50%;
			margin-bottom: 10px;

			.infoDelJugador {
				padding-left: 10px;
			}
		}
	}

	//////Eventos
	// Partidos
	.encuadro {
		margin: 100px;
		border: #B5911D solid 5px;
		border-radius: 10px;

		.partido {
			text-align: center;
			font-size: 25px;
			text-decoration: underline;
			text-decoration-color: #B5911D;
		}

		.versus {
			display: flex;
			justify-content: center;

			.equiposEnfrentados {
				display: flex;
				flex-direction: column;
				text-align: center;
				margin-bottom: 20px;

				.nombresEquiposEnfrentados {
					font-size: 30px;
				}
			}

			.enfrentamiento {
				display: flex;
				justify-content: space-evenly;
				width: 30%;
				font-size: 25px;
				align-items: center;
			}
		}

		.enfrentamientoInfo {
			display: flex;
			justify-content: space-evenly;
			font-size: 30px;
		}
	}

	/////Contacto
	// Formulario
	.formulario {
		margin-left: 25%;
		margin-right: 25%;

		.consigna {
			display: block;
			font-weight: bold;
			margin-bottom: 5px;
			font-size: 20px;
		}

		.campo {
			display: block;
			width: 100%;
			margin-bottom: 10px;
			border: #B5911D solid 2px;
			border-radius: 5px;
			font-size: 20px;
		}

		.botonesFormulario {
			.btnFormulario {
				background-color: $background-color_4;
				border: #B5911D solid 2px;
				color: $color_2;
				border-radius: 5px;
				font-size: 20px;
				cursor: pointer;
				margin: 10px;
				margin-left: 250px;
			}
		}
	}

	.viasDeContacto {
		display: flex;
		justify-content: center;
		padding-top: 100px;
		text-decoration: underline;
		text-decoration-color: #B5911D;
		font-size: 30px;
	}

	.viasContacto {
		display: flex;
		justify-content: space-evenly;
		margin-top: 20px;
		margin-bottom: 30px;
	}
}

//Boton de compra de la tienda
.btnCompra {
	&:hover {
		background-color: $background-color_3;
	}

}