$color_1: #FEF8F6;
$color_2: rgb(206, 201, 201);
$background-color_1: #FEF8F6;
$background-color_2: #B5911D;
$background-color_3: #d4b44a;
$background-color_4: black;

$mobile-breakpoint: 768px;
$tablet-breakpoint: 1140px;
